body{
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: Times New Roman;
  height: 100vh;
}

/* navigation */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
nav ul{
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li{
  padding: 15px 20px;
}
nav a, nav a:hover{
  text-decoration: none;
  color: white;
}
nav .logo{
  color: green;
}

nav .log, .sidebar1 a, footer a{
  text-decoration: none;
  background: white;
  color: black;
  font-size: 15px;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bolder;
  
} 
/* Sidebar */

.sidebar{
  position: fixed;
  top: 55px;
  left: 0;
  width: 24%;
  height: 85vh;
  background: #27292b;
  border-radius: 0px 15px 0px 0px;
}

.sidebar1{
  padding: 2px 10px;
}

.sidebar2{
  height: 30vh;
  width: 100%;
  margin: 10px 0px;
  padding: 2px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebar2 .side2-content{
  background: #37393d;
  padding: 10px 15px;
  margin: 0px 0px 20px 0px;
  border-radius: 20px;
}
.sidebar2 .side2-content button{
  background: white;
  color: black;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 20px;
}

.sidebar3{
  margin-top: 20px;
  padding: 2px 10px;
}
.sidebar3 a, .sidebar3 a:hover{
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.sidebar3 button{
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 20px;
}



/* Main */

#main{
  position: fixed;
  top: 55px;
  right: 0;
  width: 75%;
  height: 90vh;
  background: #27292b;
  padding-bottom: 7vh;
  border-radius: 15px 0px 0px 0px;
  overflow: scroll;
}

.latest-songs, .latest-playlist, .latest-podcast, .popular-artist, .popular-radio{
  height: 43vh;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.songs, .playlist, .podcast, .artist, .radio{
  display: flex;
  white-space: nowrap;
  height: 30vh;
}
.songs h1, .playlist h1, .podcast h1, .artist h1, .radio h1{
  margin: 0px;
  display: none;
}

iframe{
  margin: 5px 20px 0px 2px;
}

/* Contact */

.contact{
  margin: 0;
  padding: 5px 10px;
}
.contact .links{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  align-items: flex-start;
}
.links a{
  text-decoration: none;
  color: rgba(255,255,255,0.7);
  display: block;
  margin: 10px 0px;
}

.contact .social-links a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  background: #37393d;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 50%;
  transition: background ease-in-out 0.5s;
}
.contact .social-links a:nth-child(3){
  padding: 10px 20px;
}
.social-links a:hover{
  background: rgba(0,0,0,0.6);
}

/* footer */

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 45px;
  background: linear-gradient(90deg, rgb(171,96,181) 3%, rgb(107,140,208) 98%);
}

footer p{
  font-size: 15px;
}

/* Messages */

.info-message{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-content: center;
  background: transparent;
  backdrop-filter: blur(25px);
  z-index: 888;
}
.info-message button{
  position: fixed;
  top: 50px;
  right: 80px;
  font-size: 25px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 15px;
  padding: 10px 15px;
}
.info-message h3{
  position: fixed;
  bottom: 50px;
  right: 100px;
}


/* utility classes */

.h-line{
  width: 99%;
  height: 3px;
  margin: 20px 0px;
  background: radial-gradient(ellipse , white 0%, black 100%);
}